body{
	margin: 0;
}

header{
	background-color: #054b5a;
	text-align: center;
    height: 550px;
    padding: 50px 50px;

	
}


header h1{
    color: beige;
    font-size: 50px;
    word-spacing: 22px;
  		
}

h1, h2{
	font-family: 'Abril Fatface', cursive;
	color: black;
	text-align: center;
	word-spacing: 22px;
}

header img{
	border-radius: 200px;
    border: 20px solid #00b386;
    height: 350px;
}

main{
	background-color: black;
	max-width: 1520px;
	margin: 0 auto;
	line-height: 52px;
	height: 100%;
	
}

main img
{
	max-width: 100%;

}
main h2
{
	color: #00b386;
	border-radius: 200px;
    border: 20px solid #00b386;
}

main ol, main a, main p{
	color: beige;
}


h2{
	font-size: 36px;
	font-style: bold;
}


ul, ol, p{
	
	font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

footer a
{
 color: #c603fc;
}


a:hover {
	background-color: purple;
	color:white;

}

footer p 
{
  color: #03fcad;

}

footer{
	background-color: black;
    height: 50px;
    font-size: 29px;
    text-align: center;
    margin: 0;
    padding: 30px 30px;
}


